<div class="container mt-n3">
    <div class="row justify-content-around">
        <a routerLink="/products" class="col-md-3 mb-2 text-center">
            <mat-card class="d-flex align-items-center flex-column">
                <mat-icon class="size-60 mb-2" aria-hidden="false" aria-label="products" color="primary">apps</mat-icon>
                Productos
            </mat-card>
        </a>
        <a routerLink="/categories" class="col-md-3 mb-2 text-center">
            <mat-card class="d-flex align-items-center flex-column">
                <mat-icon class="size-60 mb-2" aria-hidden="false" aria-label="category" color="primary">style
                </mat-icon>
                Categorías
            </mat-card>
        </a>
        <a routerLink="/colors" class="col-md-3 mb-2 text-center">
            <mat-card class="d-flex align-items-center flex-column">
                <mat-icon class="size-60 mb-2" aria-hidden="false" aria-label="color" color="primary">color_lens
                </mat-icon>
                Colores
            </mat-card>
        </a>
    </div>
</div>
