# Docker
Dockerfile*
docker-compose*
.dockerignore

# Git
.git
.gitignore
README.md
LICENSE

# IDE - VSCode
.vscode
.editorconfig

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# dependencies
/node_modules

# compiled output
/dist
/tmp
/out-tsc
