service cloud.firestore {
  match /databases/{database}/documents {
    match /carts/{cart} {
      allow read,create,update;
    }

    match /customers/{customer} {
      allow read: if request.auth.uid == customer;
      allow update: if request.auth.uid == resource.data.uid;
    }

    match /products/{product} {
      allow read;
    }

    match /categories/{category} {
      allow read;
    }

    match /users/{user} {
      allow read: if request.auth.uid == user;
      allow update: if request.auth.uid == resource.data.uid;
    }

    match /documents/{document} {
      allow read;
    }

    match /orders/{order} {
    	allow read: if path('/databases/(default)/documents/customers/' + request.auth.uid) == resource.data.customer;
    }

  	// function getRole(role) {
  	// return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
  	// }

  }
}
