.header
    height: auto
    .title
        font-size: 16px
    .nav-bottom
        font-size: 14px
    .links
        opacity: 0.5
        color: #ffffff
        &:hover , &.active
            opacity: 1
