<mat-toolbar [color]="darkTheme ? null: 'primary'" class="pt-2 pb-0 header">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-3 col-xl-1 col-sm-2 d-flex justify-content-center align-items-center pr-md-3 pr-0">
                <img src="assets/img/logo.png" alt="logo" width="70" height="70">
            </div>
            <div class="col-9 col-xl-11 col-sm-10 pl-md-3 pl-0">
                <div class="nav-top d-flex justify-content-sm-between justify-content-end">
                    <h6 class="title d-none d-sm-block">Pet Shop</h6>
                    <div class="nav-actions d-flex align-items-center" *ngIf="user">
                        <button mat-icon-button aria-label="notifications" class="mr-3">
                            <mat-icon matBadge="0" matBadgeColor="warn">notifications</mat-icon>
                        </button>
                        <button mat-button class="p-0" [matMenuTriggerFor]="menu">
                            <img fallback-src [src]="user.avatar" [alt]="user.name" width="28" height="28"
                                class="rounded">
                            <mat-icon aria-hidden="false" aria-label="Info">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item routerLink="/profile">
                                <mat-icon>account_circle</mat-icon>
                                Perfil
                            </a>
                            <button mat-menu-item (click)="activeDark.emit(!darkTheme)">
                                <mat-icon>brightness_4</mat-icon>
                                Tema oscuro: {{ darkTheme ? 'Activado': 'Desactivado' }}
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>
                                Salir
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <mat-tab-group [selectedIndex]="selectedLink" (selectedTabChange)="navigate($event)"
                    [color]="darkTheme ? null: 'accent'">
                    <mat-tab *ngFor="let link of links">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-1" [class.text-white]="!darkTheme">{{link.icon}}</mat-icon>
                            <span [class.text-white]="!darkTheme"> {{link.label}}</span>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</mat-toolbar>
