<footer class="footer bg-primary d-md-block d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a routerLink="/"><img src="/assets/img/logo.png" alt="logo" width="150" height="70"></a>
                <p class="pt-2 pb-1 text-white">Proporcionamos servicios integrales de la más alta calidad para las
                    mascotas a través de sistemas preventivos, emergentes y de medicina interna para así mejorar la
                    salud de las personas incrementando la relación Humano-Animal.</p>
                <ul class="list-unstyled d-flex">
                    <li class="mr-2">
                        <a href="https://es-la.facebook.com/pages/category/Company/Pet-Shop-Veterinaria-Huancayo-EIRL-137878490009558/"
                            target="_blank">
                            <img src="/assets/svg/facebook.svg" class="img-fluid">
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="mr-2">
                        <a href="https://www.instagram.com/petshopveterinariahuancayo/?hl=es-la"
                            target="_blank">
                            <img src="/assets/svg/instagram.svg" class="img-fluid">
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="mr-2">
                        <a href="https://twitter.com/alejand49905049"
                            target="_blank">
                            <img src="/assets/svg/twitter.svg" class="img-fluid">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 categories-sect ml-auto">
                <h6 class="title-footer pb-4">Categorías</h6>
                <ul class="menu-items-footer list-unstyled">
                    <li *ngFor="let category of categories$ | async">
                        <a class="item-link text-decoration-none" routerLink="/shop"
                            [queryParams]="{ category: category.name}">{{category.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 info-sect">
                <h6 class="title-footer pb-4">Información</h6>
                <ul class="menu-items-footer list-unstyled ">
                    <li><a class="text-decoration-none" routerLink="/about">Nosotros</a></li>
                    <li><a class="text-decoration-none" routerLink="/contact">Contáctanos</a></li>
                    <li><a class="text-decoration-none" routerLink="/services">Servicios</a></li>
                </ul>
            </div>
            <div class="col-12 site_copyright d-flex justify-content-between pt-5">
                <span class="copyright-text">©{{ year }} Pet Shop - Todos los derechos reservados </span>
                <ul class="menu-footer list-unstyled">
                    <li><a class="text-decoration-none" routerLink="/">Inicio</a></li>
                    <li><a class="text-decoration-none" routerLink="/shop">Productos</a></li>
                    <li><a class="text-decoration-none" routerLink="/contact">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<nav mat-tab-nav-bar mat-align-tabs="center" headerPosition="below"
    class="border-bottom-0 border-top d-md-none fixed-bottom position-fixed bg-white">
    <a mat-tab-link routerLink="/" class="flex-column text-decoration-none">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </a>

    <a mat-tab-link routerLink="/shop" class="flex-column text-decoration-none">
        <mat-icon>shopping_basket</mat-icon>
        <span>Tienda</span>
    </a>

    <a mat-tab-link routerLink="/profile" class="flex-column text-decoration-none">
        <mat-icon>account_circle</mat-icon>
        <span>Cuenta</span>
    </a>

    <a mat-tab-link routerLink="/regsiter" class="flex-column text-decoration-none">
        <mat-icon>face</mat-icon>
        <span>Regístrarse</span>
    </a>
</nav>
