<div class="container pt-md-5 pb-5">
    <div class="row d-flex justify-content-center text-center pt-5 pb-2">
        <div class="col-lg-5 col-md-7">
            <h1 class="font-weight-bold">Reenviar instrucciones de confirmación</h1>
            <nav aria-label="breadcrumb text-dark">
                <ol class="breadcrumb d-flex justify-content-center bg-transparent">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-dark" routerLink="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reenviar instrucciones de confirmación</li>
                </ol>
            </nav>
            <p class="pt-md-5 mt-5">Por favor ingrese la dirección de correo electrónico que usó para registrarse.
                Recibirá un enlace temporal de las instrucciones de confirmación.</p>
            <form [formGroup]="form" (ngSubmit)="sendEmail()" novalidate>

                <mat-form-field class="w-100 mb-2" appearance="outline" hintLabel="Max 191 caracteres">
                    <mat-label>Dirección de correo electrónico</mat-label>
                    <input matInput #email maxlength="191" formControlName="email"
                        placeholder="Dirección de correo electrónico" name="email" required>
                    <mat-hint align="end">{{email.value?.length || 0}}/191</mat-hint>
                    <mat-error appInvalidMessage="email"></mat-error>
                </mat-form-field>

                <button type="submit" [disabled]="form.invalid"
                    class="button-petshop text-center text-white position-relative w-100">Reenviar
                    instrucciones</button>
                <div class="elements text-left pt-3">
                    <a routerLink="/login"
                        class="link-login d-flex align-items-center text-decoration-none text-primary">
                        <svg mlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175" width="10">
                            <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" fill="#da573e">
                            </path>
                        </svg>
                        <span class="ml-1">Atrás para iniciar sesión</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
