<mat-carousel [slides]="2" [autoplay]="true" proportion="50">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slider of sliders" [image]="slider.image">
        <div class="carousel-conten text-white text-center">
            <img src="assets/img/logo.png" alt="image" class="image-pet-car">
            <h3 class="car-title">{{slider.title}}</h3>
            <img src="assets/img/paw-slider.png" alt="image" class="image-pet-sep">
            <p>{{ slider.text }}</p>
        </div>
    </mat-carousel-slide>
</mat-carousel>
<!-- <img src="assets/img/Banner1.jpg" alt="" class="banner"> -->
