<ngb-carousel>
    <ng-template ngbSlide>
        <img src="assets/img/vet-bg-2-min.jpg" alt="Random first slide">
        <div class="carousel-caption">
            <img src="assets/img/rounded-logo.png" alt="image" class="image-pet-car">
            <h3 class="car-title">Bienestar de la mascota</h3>
            <img src="assets/img/paw-slider.png" alt="image" class="image-pet-sep">
            <p>Cuidado,alimentación,emfermedades,nutricón,reproducción y conducta,entre otros temas.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/img/vet-bg-1-min.jpg" alt="Random third slide">
        <div class="carousel-caption">
            <img src="assets/img/rounded-logo.png" alt="image" class="image-pet-car">
            <h3 class="car-title">Servicios</h3>
            <img src="assets/img/paw-slider.png" alt="image" class="image-pet-sep">
            <p>Medicina preventiva,consulta,cirugía,imagenología,laboratorio,estética y mas...</p>
        </div>
    </ng-template>
</ngb-carousel>
