<mat-carousel [slides]="2" [autoplay]="true" proportion="50">
    <mat-carousel-slide #matCarouselSlide image="assets/img/vet-bg-2-min.jpg">
        <div class="carousel-conten text-white text-center">
            <img src="assets/img/rounded-logo.png" alt="image" class="image-pet-car">
            <h3 class="car-title">Bienestar de la mascota</h3>
            <img src="assets/img/paw-slider.png" alt="image" class="image-pet-sep">
            <p>Cuidado,alimentación,emfermedades,nutricón,<br>reproducción y conducta,entre otros temas.</p>
        </div>
    </mat-carousel-slide>
    <mat-carousel-slide #matCarouselSlide image="assets/img/vet-bg-1-min.jpg">
        <div class="carousel-conten text-white text-center">
            <img src="assets/img/rounded-logo.png" alt="image" class="image-pet-car">
            <h3 class="car-title">Servicios</h3>
            <img src="assets/img/paw-slider.png" alt="image" class="image-pet-sep">
            <p>Medicina preventiva,consulta,cirugía,imagenología,laboratorio,estética y mas...</p>
        </div>
    </mat-carousel-slide>
</mat-carousel>
