<mat-card class="w-100 mt-n3 p-0" (ngSubmit)="store()" [formGroup]="form" [class.load]="loading">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn" class="spinner"></mat-progress-bar>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Información basica *">
                <div class="p-4">
                    <mat-form-field class="w-100 mb-2" appearance="outline" hintLabel="Max 191 caracteres">
                        <mat-label>Nombre</mat-label>
                        <input matInput #name maxlength="191" formControlName="name" placeholder="Nombre" name="name"
                            required>
                        <mat-hint align="end">{{name.value?.length || 0}}/191</mat-hint>
                        <mat-error appInvalidMessage="name"></mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Categoría padre</mat-label>
                        <mat-select placeholder="Categoría padre" formControlName="parent_id">
                            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                                {{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
<button type="button" [disabled]="form.invalid" (click)="store()" mat-raised-button
    class="position-absolute link-new">Guardar</button>
