<nav class="header-section1 bg-primary pb-3 h-100 pt-3">
    <ul class="menu-header1 container d-flex justify-content-end list-unstyled mb-1">
        <li class="user-circle d-flex" *ngIf="auth.customer$ | async as customer;else login">
            <a routerLink="/profile">
                <img [src]="customer.avatar" appFallbackSrc class="img-fluid rounded-circle h-100"
                    [alt]="customer.name">
            </a>
        </li>
        <ng-template #login>
            <li class="px-3"><a class="text-decoration-none" routerLink="/login">Iniciar Sesión</a></li>
            <li class="px-3"><a class="text-decoration-none" routerLink="/register">Regístrarse</a></li>
        </ng-template>
        <li class="px-3">
            <span class="icon_search-he" (click)="searchActive = true">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                    <path
                        d="M11.5,2.46a6,6,0,0,0-4.56,9.89l-3.3,3.3.71.71,3.3-3.3A6,6,0,1,0,11.5,2.46Zm0,11a5,5,0,1,1,5-5A5,5,0,0,1,11.5,13.46Z">
                    </path>
                </svg>
            </span>
        </li>
    </ul>
</nav>
<nav class="header-section2">
    <ul class="menu-header2 d-flex align-items-center list-unstyled container mb-0">
        <li class="logo px-3">
            <a routerLink="/"><img src="assets/img/logo-header.png" alt="logo"></a>
        </li>
        <li class="px-3"><a class="text-decoration-none" routerLink="/">Inicio</a></li>
        <li class="px-3"><a class="text-decoration-none" routerLink="/about">Nosotros</a></li>
        <li class="px-3 mega-menu position-relative">
            <a class="text-decoration-none position-relative" routerLink="/shop">Tienda</a>
            <app-mega-menu [data]="categories$" class="menu-content"></app-mega-menu>
        </li>
        <li class="px-3"><a class="text-decoration-none" routerLink="/services">Servicios</a></li>
        <li class="px-3"><a class="text-decoration-none" routerLink="/contact">Contáctanos</a></li>
        <li class="icons-header2 ml-md-auto">
            <a class="cart-short-view text-decoration-none d-flex align-items-center p-0" routerLink="/cart"
                aria-label="Ir a la pagina de carrito">
                <i class="material-icons">shopping_cart</i>
                <ng-container *ngIf="shoppingCartService.cart$ | async as cart">
                    <span class="cart-total mx-lg-2">S/ {{cart.subtotal | number: '1.2-2' }}</span>
                    <span
                        class="count-cart bg-primary d-md-inline-flex justify-content-center text-white">{{cart.count()}}</span>
                </ng-container>
            </a>
            <span class="d-md-none c-p ml-2">
                <svg (click)="searchActive = true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 20 20">
                    <path
                        d="M11.5,2.46a6,6,0,0,0-4.56,9.89l-3.3,3.3.71.71,3.3-3.3A6,6,0,1,0,11.5,2.46Zm0,11a5,5,0,1,1,5-5A5,5,0,0,1,11.5,13.46Z"
                        fill="#5e5e5e"></path>
                </svg>
            </span>
        </li>
    </ul>
</nav>

<div class="modal-search fixed-top w-100 h-100 p-3" [class.active]="searchActive">
    <span class="modal-search-close" (click)="searchActive = false">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <line fill="none" stroke="#000" stroke-width="1.4" x1="1" y1="1" x2="19" y2="19"></line>
            <line fill="none" stroke="#000" stroke-width="1.4" x1="19" y1="1" x2="1" y2="19"></line>
        </svg>
    </span>
    <form class="modal-search-from" [formGroup]="form" (ngSubmit)="search()">
        <input type="text" aria-label="search products" formControlName="search" name="search" placeholder="Buscar..."
            class="search-input border-primary" autocomplete="off">
    </form>
</div>