.login
    .btn-google
        box-shadow: rgba(9, 30, 66, 0.28) 0px 4px 8px -2px, rgba(9, 30, 66, 0.3) 0px 0px 1px
        margin-bottom: 1rem
        font-size: 14px
        border-radius: 3px
        padding: 12px 20px
        cursor: pointer
        svg
            margin-right: 8px
            width: 19px
            height: 19px
