<div class="container login pt-md-5 pb-5">
    <div class="row d-flex justify-content-center pt-5 pb-2">
        <div class="col-lg-5 col-md-7">
            <h1 class="font-weight-bold text-center">Ingrese a su cuenta</h1>
            <nav aria-label="breadcrumb text-dark">
                <ol class="breadcrumb d-flex justify-content-center bg-transparent">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-dark" routerLink="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ingrese a su cuenta</li>
                </ol>
                <div class="alert" [className]="verify.isVerify ? 'alert-success' : 'alert-danger'" role="alert"
                    *ngIf="verify">
                    {{ verify.isVerify ? 'Se verifico su correo': 'No se pudo verficar su correo'}}
                </div>
            </nav>
            <form [formGroup]="form" (ngSubmit)="login()" novalidate class="pt-5 mt-5">
                <div class="btn-google bg-white font-weight-bold" (click)="googleSignIn()">
                    <div class="d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 48 48">
                            <defs>
                                <path id="a"
                                    d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                            </defs>
                            <clipPath id="b">
                                <use xlink:href="#a" overflow="visible" />
                            </clipPath>
                            <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                            <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                            <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                            <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                        </svg>
                        <span>Iniciar sesión con google</span>
                    </div>
                </div>
                <p class="text-center">O inicia sesión con </p>

                <mat-form-field class="w-100 mb-2" appearance="outline" hintLabel="Max 191 caracteres">
                    <mat-label>Dirección de correo electrónico</mat-label>
                    <input matInput #email maxlength="191" formControlName="email"
                        placeholder="Dirección de correo electrónico" name="email" required>
                    <mat-hint align="end">{{email.value?.length || 0}}/191</mat-hint>
                    <mat-error appInvalidMessage="email"></mat-error>
                </mat-form-field>

                <a routerLink="/password/email" class="text-decoration-none text-right w-100 d-block">¿Olvidaste tu
                    contraseña?</a>
                <mat-form-field class="w-100 mb-2" appearance="outline" hintLabel="Max 191 caracteres">
                    <mat-label>Constraseña</mat-label>
                    <input type="password" matInput #password maxlength="191" formControlName="password"
                        placeholder="Contraseña" name="email" required>
                    <mat-hint align="end">{{password.value?.length || 0}}/191</mat-hint>
                    <mat-error appInvalidMessage="password"></mat-error>
                </mat-form-field>

                <button type="submit" [disabled]="form.invalid"
                    class="button-petshop text-center text-white position-relative w-100 mb-3">Iniciar Sesión</button>
                <span>
                    ¿Todavía no has recibido el correo electrónico de confirmación?
                    <a routerLink="/confirmation/new" class="text-decoration-none"> Vuelva a enviar el correo
                        electrónico </a>
                </span>
            </form>
        </div>
    </div>
</div>
