<app-breadcrumb title="Nosotros" class="text-white" padding="20em 0" image="/assets/img/about-man-min.jpg" subTitle="Nosotros"></app-breadcrumb>
<div class="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-11 text-center pt-5">
                <h1>Conoce el profesional cuidado en el que puedes confiar</h1>
                <p class="pt-4">Pet-shop te ofrece uno de los mejores servicios de la zona, con una gran relación calidad-precio,
                    lo que nos convierte en uno de los referentes más competitivos del mercado.</p>
                <div class="row">
                    <div class="col-6">
                        <h2>Misión</h2>
                        <p>Satisfacer las necesidades de sus mascotas brindándoles un excelente trato, para mejorar la calidad de
                            vida a través de la prestación de servicios basados en el amor y brindando una solución integral a la
                            atención de la mascota, a partir de una inmejorable oferta de producto, precio, calidad y servicio.</p>
                    </div>
                    <div class="col-6">
                        <h2>Visión</h2>
                        <p>Ser una empresa reconocida por nuestro profesionalismo en la comercialización de los mejores productos
                             y presentación de servicios dedicados al bienestar de las mascotas, brindándoles confianza,
                             respeto y cariño, creando ambientes ideales para la felicidad y bienestar de nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
