<ng-container *ngIf="product">
    <div class="bread-crumb">
        <ul class="d-flex container list-unstyled">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/shop" [queryParams]="{ category: product.category.id}" class="text-capitalize">{{product.category.id}}</a></li>
            <li class="name-product">{{product.name}}</li>
        </ul>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6 pb-3">
                <img [src]="product.cover" [alt]="product.name" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="pt-2">{{product.name}}</h2>
                <h5>S/ {{product.price | number: '1.2-2' }}</h5>
                <p>{{product.short_description}}</p>
                <app-qty [product]="product"></app-qty>
            </div>

            <ngb-tabset class="col-12 pt-5 plus_info mb-5" justify="center">
                <ngb-tab title="Descripción">
                    <ng-template ngbTabContent>
                        <p class="m-0">{{product.description}}</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Información Adicional">
                    <ng-template ngbTabContent>
                        <div class="aditional_information-color">
                            <span>Color:</span>
                            <span class="ml-2">{{product.color.id}}</span>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

            <div class="col-12 text-center pb-5">
                <strong>SKU: {{product.id}}</strong>
                <span class="ml-5">Categoría: <a class="text-capitalize">{{product.category.id}}</a></span>
            </div>
        </div>
    </div>
</ng-container>
