<ng-container *ngIf="product$ | async as product">
    <div class="bread-crumb">
        <ul class="d-flex container list-unstyled mb-0">
            <li><a routerLink="/" class="text-decoration-none">Inicio</a></li>
            <li>
                <a routerLink="/shop" [queryParams]="{ category: product.category.name}"
                    class="text-capitalize text-decoration-none">{{product.category.name }}</a>
            </li>
            <li class="name-product">{{product.name}}</li>
        </ul>
    </div>
    <div class="container pt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 pb-3 d-flex justify-content-center">
                <img [src]="product.cover" [alt]="product.name" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="pt-2">{{product.name}}</h2>
                <h5>S/ {{product.price | number: '1.2-2' }}</h5>
                <p>{{product.short_description}}</p>
                <app-qty [product]="product"></app-qty>
            </div>

            <mat-tab-group mat-align-tabs="center" class="w-100 pt-3 group-pet">
                <mat-tab label="Descripción" class="pt-5">
                    <p class="m-0">{{product.description}}</p>
                </mat-tab>
                <mat-tab label="Información Adicional">
                    <div class="aditional_information-color">
                        <span>Color:</span>
                        <span class="ml-2">{{product.color?.name}}</span>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="col-12 text-center pb-md-5 pb-2">
                <strong>SKU: {{product.id}}</strong>
                <span class="ml-5">Categoría: <a class="text-capitalize">{{product.category.name}}</a></span>
            </div>
        </div>
    </div>
</ng-container>
