<mat-card class="w-100 mt-n3 p-0" (ngSubmit)="edit()" [formGroup]="form" appLoader>
    <mat-card-content>
        <mat-tab-group class="group-pet">
            <mat-tab label="Información basica *">
                <mat-form-field class="w-100 mb-2" appearance="outline" hintLabel="Max 191 caracteres">
                    <mat-label>Nombre</mat-label>
                    <input matInput #name maxlength="191" formControlName="name" placeholder="Nombre"
                        name="name" required>
                    <mat-hint align="end">{{name.value?.length || 0}}/191</mat-hint>
                    <mat-error appInvalidMessage="name"></mat-error>
                </mat-form-field>
                <mat-slide-toggle class="mb-3 ml-auto" [checked]="isChild"
                    (change)="changeChild(isChild = !isChild,form.value)">
                    {{ isChild ? 'Hijo':'Padre'}}
                </mat-slide-toggle>

                <mat-form-field appearance="outline" class="w-100" *ngIf="isChild;else parent">
                    <mat-label>Categoría padre</mat-label>
                    <mat-select placeholder="Categoría padre" formControlName="parent_id">
                        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                            {{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-template #parent>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Hijos</mat-label>
                        <mat-select formControlName="categories" multiple>
                            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
<button type="button" [disabled]="form.invalid" (click)="edit()" mat-raised-button
    class="position-absolute link-new">Guardar</button>
