<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center">
            <img src="/assets/img/404.png" alt="404 error" class="img-fluid mb-4">
            <h1>Vaya, lo siento, no podemos encontrar esa página!</h1>
            <p>O algo salió mal o la página ya no existe.</p>
            <a routerLink="/" class="link-pet-shop text-center position-relative text-decoration-none">Ir a la página de inicio</a>
        </div>
    </div>
</div>
