<app-breadcrumb
    title="Nosotros"
    class="text-white"
    padding="20em 0"
    image="/assets/img/about-man-min.jpg"
    subTitle="Nosotros"
></app-breadcrumb>
<div class="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-11 text-center pt-5">
                <h1>Conoce al profesional en el que puedes confiar</h1>
                <p class="pt-4">
                    Pet Shop Veterinaria Huancayo cuenta con un médico
                    veterinario capacitado para ofrecerte uno de los mejores
                    servicios, lo que nos convierte en uno de los referentes más
                    competitivos del mercado.
                </p>
                <div class="row">
                    <div class="col-6">
                        <h2>Mision</h2>
                        <p>
                            La empresa tiene como propósito ofrecer permanente
                            satisfacción a nuestros clientes, ofreciendo
                            productos de buena calidad y a través de la
                            prestación de servicios médicos veterinarios de la
                            mejor calidad, garantizando así el completo
                            bienestar de nuestros pacientes mediante el trabajo
                            de un equipo humano calificado.
                        </p>
                    </div>
                    <div class="col-6">
                        <h2>Visión</h2>
                        <p>
                            Ser una empresa reconocida por nuestro
                            profesionalismo en la comercialización de los
                            mejores productos y presentación de servicios
                            dedicados al bienestar de las mascotas, brindándoles
                            confianza, superando sus expectativas y
                            estableciendo un fuerte vínculo que relaciones de
                            largo plazo con clientes y proveedores.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
