<app-breadcrumb title="Nosotros" class="text-white" padding="20em 0" image="/assets/img/about-man-min.jpg" subTitle="Nosotros"></app-breadcrumb>
<div class="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-11 text-center pt-5">
                <h1>Conoce el profesional cuidado en el que puedes confiar</h1>
                <p class="pt-4">Proporcionamos servicios integrales de la más alta calidad para las mascotas a través de
                    sistemas preventivos, emergentes y de medicina interna para así mejorar la salud de las personas
                    incrementando la relación Humano-Animal.</p>
                <div class="row">
                    <div class="col-6">
                        <h2>Misión</h2>
                        <p>Misión Proporcionar servicios integrales de la más alta calidad para las mascotas a través de
                            sistemas preventivos, emergentes y de medicina interna para así mejorar la salud de las
                            personas incrementando la relación Humano-Animal.</p>
                    </div>
                    <div class="col-6">
                        <h2>Visión</h2>
                        <p>Contar con un Hospital Veterinario de Especialidades único en la zona, con sucursales que
                            abarquen toda el área metropolitana, satisfaciendo la necesidad de servicios veterinarios
                            para personas que buscan trato profesional y especializado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
