<app-breadcrumb title="Nuestros servicios" class="text-white" padding="20em 0" image="/assets/img/about-man-min.jpg" subTitle="Nuestros servicios"></app-breadcrumb>
<div class="container">
    <div class="row d-flex justify-content-center pt-5 pb-5">
        <div class="col-md-6 text-center pt-5">
            <h1>Bienvenido a Pet Shop</h1>
            <p class="pt-4">Proporcionamos servicios integrales de la más alta calidad para las mascotas a través de
                sistemas preventivos, emergentes y de medicina interna para así mejorar la salud de las personas
                incrementando la relación Humano-Animal.</p>
        </div>
        <div class="col-md-6 pb-5">
            <img class="img-fluid" src="assets/img/services.jpg" alt="Nuestros servicio - Pet Shop">
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/pet-shampoo.svg" alt="Aseo completo">
            <h3 class="pt-4">Aseo completo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero vel metus vehicula
                pulvinar. Sed lobortis mi nec leo hendrerit</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/vaccine.svg" alt="Examen regular">
            <h3 class="pt-4">Examen regular</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero vel metus vehicula
                pulvinar. Sed lobortis mi nec leo hendrerit</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/brush.svg" alt="Estilo">
            <h3 class="pt-4">Estilo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero vel metus vehicula
                pulvinar. Sed lobortis mi nec leo hendrerit</p>
        </div>
    </div>
</div>
