<app-breadcrumb title="Nuestros servicios" class="text-white" padding="20em 0" image="/assets/img/contact-08-min.jpg" subTitle="Nuestros servicios"></app-breadcrumb>
<div class="container">
    <div class="row d-flex justify-content-center pt-5 pb-5">
        <div class="col-md-6 text-center pt-5">
            <h1>Bienvenido a Pet Shop Veterinaria Huancayo</h1>
            <p class="pt-4">La empresa desde su creación en el 2007 ha centrado su actividad en prestar servicios a animales de compañía, siempre con una filosofía fresca dirigida en todo momento al bienestar de los animales.
                    La clínica viene desarrollando desde entonces una importante labor en todos los ámbitos veterinarios, centrándose en esta nueva etapa en diversas especialidades, además de alimentos y/o accesorios para tu mascota.
                    </p>
        </div>
        <div class="col-md-6 pb-5">
            <img class="img-fluid" src="assets/img/services.jpg" alt="Nuestros servicio - Pet Shop">
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/pet-shampoo.svg" alt="Aseo completo">
            <h3 class="pt-4">Personal Calificado</h3>
            <p>Nuestra empresa cuenta con un personal altamente capacitado y comprometido con la
                excelencia en el servicio que ofrecemos.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/calendar-with-a-clock-time-tools.svg" alt="Examen regular">
            <h3 class="pt-4">Horario de atención</h3>
            <p>Pet Shop Veterinaria Huancayo abre sus puertas de 9:00 am a 9:00 pm de Lunes a Sábado y
                 de 10 am a 7 pm los Domingos.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/brush.svg" alt="Estilo">
            <h3 class="pt-4">Servicios Veterinarios</h3>
            <p>Pet Shop Veterinaria Huancayo ofrece servicios personalizados como: vacunaciones, desparasitaciones,
                 análisis clínico, cirugías, ecografías, rayos x, farmacia, tratamiento e internamiento y belleza canina que garantizan así el completo bienestar de tu mascota.</p>
        </div>
    </div>
</div>
