<app-breadcrumb title="Nuestros servicios" class="text-white" padding="20em 0" image="/assets/img/contact-08-min.jpg" subTitle="Nuestros servicios"></app-breadcrumb>
<div class="container">
    <div class="row d-flex justify-content-center pt-5 pb-5">
        <div class="col-md-6 text-center pt-5">
            <h1>Bienvenido a Pet Shop</h1>
            <p class="pt-4">Desde su inauguración en 2007 ha centrado su actividad en prestar servicios a pequeños
                animales de compañía, siempre con una filosofía fresca dirigida en todo momento al bienestar de los
                animales y de sus propietarios. La clínica viene desarrollando desde entonces una importante labor en
                 todos los ámbitos veterinarios, centrándose en esta nueva etapa en diversas especialidades, además de
                 productos para tu mascota.</p>
        </div>
        <div class="col-md-6 pb-5">
            <img class="img-fluid" src="assets/img/services.jpg" alt="Nuestros servicio - Pet Shop">
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/pet-shampoo.svg" alt="Aseo completo">
            <h3 class="pt-4">Personal Cualificado</h3>
            <p>Nuestro centro está apoyado en un personal altamente cualificado, ético comprometido con la excelencia en
                 la calidad del servicio y una inmejorable atención personal.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/calendar-with-a-clock-time-tools.svg" alt="Examen regular">
            <h3 class="pt-4">Horas de Servicio</h3>
            <p>Pet Shop Veterinaria Huancayo dispone de 9:00 am a 6:00 pm de servicio para urgencias veterinarias con previa
                 cita y venta de productos para tu mascota.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/svg/brush.svg" alt="Estilo">
            <h3 class="pt-4">Servicios Veterinarios</h3>
            <p>PetShop cuenta con una gran variedad de servicios médicos veterinarios de la mejor calidad que garantizan así el
                 completo bienestar de tu mascota.</p>
        </div>
    </div>
</div>
