<table mat-table [dataSource]="dataSource" matSort matSortActive="updated_at" matSortDirection="desc"
    class="mat-elevation-z8 w-100 mt-n3 table-petshop">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            <div class="d-flex justify-content-end">
                <mat-form-field class="mb-n3 d-none d-md-block">
                    <input matInput placeholder="Buscar..." (keyup)="applyFilter($event.target.value)">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </th>

        <td mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-end">
                <button mat-icon-button color="primary" matTooltip="Editar" (click)="edit(element)">
                    <mat-icon aria-label="Editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="ml-1" matTooltip="Eliminar" (click)="destroy(element.id)">
                    <mat-icon aria-label="Eliminar">delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" class="pagination-petshop" showFirstLastButtons>
</mat-paginator>
<button mat-raised-button type="button" class="position-absolute link-new" (click)="create()">Añadir nuevo</button>
